/* 공통 스타일 */
#container{
    width: 80%;
    margin: 0 auto;
}

ul{
    padding-left: 0;
}

h2{
    border-bottom: 2px solid #ccc;
    padding: 16px;
    text-align: center;
}
.ul li{
    list-style: none;
    margin: 10px;
}
